# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Anton\Desktop\DTU\IT Elektronik\2. Semester\Objekt Orienteret\Semester Project\CovidMap\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
